bittensor
starlette
pydantic
setuptools

torch
dask
zarr
gcsfs
pandas
xarray
numpy
h5netcdf
scikit-learn==1.7.2

ipython
ipykernel
wandb
httpx

cartopy
tqdm
dotenv

check_shapes

# validators only
timezonefinder
discord-webhook
cdsapi

# miners only
openmeteo-requests
